<!--<div>-->
<!--  <div uk-margin>-->
<!--    <button class="uk-button uk-button-default uk-button-small uk-margin-small-left uk-margin-small-right" type="button">View</button>-->
<!--    <div uk-dropdown>-->
<!--      <ul class="uk-nav uk-dropdown-nav">-->
<!--        <li class="uk-nav-header">Labels</li>-->
<!--        <li><a href="#">Label Publication Date or version 1</a></li>-->
<!--        <li><a href="#">Label Publication Date or version 2</a></li>-->
<!--        <li class="uk-nav-divider"></li>-->
<!--        <li class="uk-nav-header">Patent Claim Sets</li>-->
<!--        <li><a href="#">Patent claims patent number 1</a></li>-->
<!--        <li><a href="#">Patent claims patnet number 2</a></li>-->
<!--      </ul>-->
<!--    </div>-->

<!--    <button class="uk-button uk-button-default uk-button-small uk-margin-small-left uk-margin-small-right" type="button">Compare</button>-->
<!--    <div uk-dropdown>-->
<!--      <ul class="uk-nav uk-dropdown-nav">-->
<!--        <li><a href="#">Compare labels</a></li>-->
<!--        <li><a href="#">Compare label to claims</a></li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<hr class="" />-->


<div class="uk-grid-divider uk-child-width-expand@s" uk-grid>

  <!-- welcome/what to do well -->
  <div *ngIf="(!textWindowOne && !textWindowTwo)">
    <article class="uk-article">
    <div class="uk-placeholder uk-text-center uk-margin-large">Select a patent or a label from the timeline to begin</div>
    </article>
  </div>

  <!-- Label -->
  <div *ngIf="(textWindowOne)">
    <article class="uk-article">

      <h1 class="uk-article-title"><a class="uk-link-reset" href="">Header</a></h1>

      <p>{{ textWindowOne }}</p>

    </article>
  </div>

  <!-- label -->
  <div *ngIf="(textWindowTwo)">
    <article class="uk-article">

      <h1 class="uk-article-title"><a class="uk-link-reset" href="">Header</a></h1>

      <p>{{ textWindowTwo }}</p>

    </article>
  </div>

</div>
