.patent-relation-border-box {
  border-style: dashed;
  border-width: 1px;
  border-color: #999;
}

.diff-deleted-text {
  background: #fef4f6;
  color: #f0506e;
}

.diff-added-text {
  background: #edfbf6;
  color: #32d296;
}
