.patent-relation-border-box {
  border-style: dashed;
  border-width: 1px;
  border-color: #999;
}

.diff-deleted-text {
  background: #fef4f6;
  color: #f0506e;
}

.diff-added-text {
  background: #edfbf6;
  color: #32d296;
}

.parent-claim-subheader {
  font-size: 16px;
  color: #666;
}

.text-container {
  display: flex;
}

.text-container-left {
  flex: 2;
  height: 100vh;
  overflow: scroll;
}

.text-container-right {
  flex: 1;
  height: 100vh;
  overflow: scroll;
}

.label-text-container {
  padding-bottom: 500px;
}

.patent-text-container {
  padding-bottom: 500px;
}
