<!-- if the page is currently loading then show the loading message and animation -->
<div *ngIf="isPageLoading" class="uk-container-large">
    <div class="uk-position-center">
        <div class="uk-text-center">
        <div uk-spinner="ratio: 2"></div>
        <p class="uk-text-meta">Getting data for {{ndaNumber}}...</p>
        </div>
    </div>
</div>

<!-- if the page is not currently loading then render the DrugHeader, DrugText and DrugTimeline components -->
<div *ngIf="!isPageLoading" class="uk-container uk-container-large">
    <app-drug-header [drug]="drug"></app-drug-header>
    <app-drug-text *ngIf="!isTextLoading" (onPatentClaimTagClicked)="onPatentClaimTagClicked($event)" (onClosePatentViewClicked)="onClosePatentViewClicked()" [drugViewConfig]="drugViewConfig"></app-drug-text>
    <app-drug-timeline (onDrugViewChange)="onDrugViewChange($event)" [drugViewConfig]="drugViewConfig" [timelineItems]="timelineItems"></app-drug-timeline>
</div>
