.app-drug {
  position: fixed;
  width: 100%;
}

.diff-added-text {
  background: #edfbf6;
  color: #32d296;
}

.timeline-container {
  position: fixed !important;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  color: white;
}
