<div class="uk-margin-top" uk-grid>

    <div class="uk-width-3-4@m">
        <div class="uk-text-left">
            <h1 class="uk-heading-small drug-header uk-margin-remove-bottom">{{ drug.metadata.brandNames | shortestValueFromArray | truncate:[18, '...'] }}</h1>
        </div>
    </div>
    <div class="uk-width-expand@m">
        <div class="uk-text-right">
            <div>
                <span class="uk-label uk-background-muted uk-text-muted">{{ drug.applicationNumber }}</span>
            </div>
            <div>
                <a *ngIf="drug.drugImages.length > 0" href="#drug-info-modal" uk-toggle class="uk-margin-small-right"><span uk-icon="info"></span></a>
                <a *ngIf="drug.drugImages.length > 0" href="#drug-images-modal" uk-toggle class="uk-margin-small-right"><span uk-icon="image"></span></a>
            </div>
        </div>
    </div>
</div>
<hr class="uk-margin-remove-top" />

<div id="drug-info-modal" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <h2 class="uk-modal-title">Additional Drug Information</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p class="uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
    </p>
  </div>
</div>

<div *ngIf="drug.drugImages.length > 0" id="drug-images-modal" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

        <button class="uk-modal-close-default" type="button" uk-close></button>

        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="ratio: 1:1; finite: true">

            <ul class="uk-slideshow-items">
                <li *ngFor="let image of drug.drugImages, let i = index">
                    <img src="{{ image }}" alt="">
                    <p class="drug-image-text">{{ i + 1 }} / {{ drug.drugImages.length }}</p>
                </li>
            </ul>

            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

        </div>
    </div>
</div>
<!--
<div uk-slideshow>
    <ul class="uk-slideshow-items">
        <li>
            <img src="https://rxpillimage.nlm.nih.gov/RxImage/image/images/gallery/original/00071-0156-23_RXNAVIMAGE10_741C3A41.jpg" width="100" height="100" alt="" uk-cover>
        </li>
    </ul>
</div> -->
